---
import type { Frontmatter } from "../../config";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import ArticleNavigationButton from "./ArticleNavigationButton.astro";
import TableOfContents from "../RightSidebar/TableOfContents";
import type { MarkdownHeading } from "astro";

type Props = {
  frontmatter: Frontmatter;
  headings: MarkdownHeading[];
  gitlabUrl: string;
  previous?: { text: string; link: string };
  next?: { text: string; link: string };
};

const { frontmatter, headings, gitlabUrl, previous, next } =
  Astro.props as Props;
const title = frontmatter.title;
---

<article id="article" class="content">
  <section class="main-section">
    <h1 class="content-title" id="overview">{title}</h1>
    <nav class="block sm:hidden">
      <TableOfContents client:media="(max-width: 50em)" headings={headings} />
    </nav>
    <slot />
  </section>
  <nav class="block sm:hidden">
    <MoreMenu viewHref={gitlabUrl} />
  </nav>
  {
    (previous || next) && (
      <aside class="next-previous-nav">
        {previous && <ArticleNavigationButton rel="prev" item={previous} />}
        {next && <ArticleNavigationButton rel="next" item={next} />}
      </aside>
    )
  }
</article>

<style>
  .content {
    padding: 0;
    max-width: 75ch;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  @media (min-width: 50em) {
    .sm\:hidden {
      display: none;
    }
  }

  .next-previous-nav {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
</style>
